$ColorBlack : #343541;

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &:is(.light)::-webkit-scrollbar-thumb {
    background: rgba(236, 236, 241, 1);
    border-radius: 30px;
  }

  &:is(.dark)::-webkit-scrollbar-thumb {
    background: rgba(86, 88, 105, 1);
    border-radius: 30px;
  }

  &:is(.light) {
    background: white;

    .inputArea {
      background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 13.94%, #fff 54.73%);

      @media screen and (max-width:767px) {
        border-top: 1px solid #d9d9e3;
        background-image: none;
        background: rgba(255, 255, 255, 1);
      }

      .box .flex {
        border: 1px solid rgba(0, 0, 0, .1);
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        background: #FFFFFF;

        textarea {
          color: #333;

          &::-webkit-scrollbar-thumb {
            background: rgba(236, 236, 241, 1);
            border-radius: 30px;
          }
        }

        button:hover {
          background: #d9d9e3;
        }
      }

      .text {
        color: rgba(0, 0, 0, .5);

        a {
          color: rgba(0, 0, 0, .5);
          text-decoration-color: rgba(0, 0, 0, .5);
        }
      }
    }
  }

  &:is(.dark) {
    background: rgba(52, 53, 65, 1);

    .inputArea {
      background-image: linear-gradient(180deg, rgba(53, 55, 64, 0), #353740 58.85%);

      @media screen and (max-width:767px) {
        border-top: 1px solid hsla(0, 0%, 100%, .2);
        background-image: none;
        background: rgba(52, 53, 65, 1);
      }

      .box .flex {
        border: 1px solid rgba(32, 33, 35, .5);
        box-shadow: 0 0 15px rgba(0, 0, 0, .1);
        background: #40414f;

        textarea {
          color: white;

          &::-webkit-scrollbar-thumb {
            background: rgba(86, 88, 105, 1);
            border-radius: 30px;
          }
        }

        button:hover {
          background: rgba(32, 33, 35, 1);
        }
      }

      .text {
        color: hsla(0, 0%, 100%, .5);

        a {
          color: hsla(0, 0%, 100%, .5);
          text-decoration-color: hsla(0, 0%, 100%, .5);
        }
      }
    }
  }
}

.currentColor {
  color: $ColorBlack;
}

.main-grid {
  display: grid;
  grid-template-columns: 260px auto;

  @media screen and (max-width:767px) {
    grid-template-columns: 100%;
  }
}

.main {
  width: 100%;
  display: block;
  position: relative;

  .contentArea {
    height: auto;
    align-items: center;
    text-align: center;
  }

  .inputArea {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    height: auto;
    min-height: 17%;
    width: calc(100vw - 260px) !important;

    @media screen and (max-width:767px) {
      width: 100% !important;
    }

    .box {
      background: transparent;
      padding-left: 10em;
      padding-right: 10em;
      padding-top: 0.5em;

      @media only screen and (max-width: 1300px) {
        padding-left: 1em;
        padding-right: 1em;
      }

      @media screen and (max-width:767px) {
        padding-left: 0.5em;
        padding-right: 0.5em;
      }

      .flex {
        display: flex;
        flex-direction: row;
        position: relative;
        border-radius: .375rem;
        padding-top: 1rem;

        textarea {
          outline: none;
          border-bottom-left-radius: .375rem;
          border-top-left-radius: .375rem;
          width: 100%;
          height: 30px;
          outline: none;
          border: none;
          padding-left: 1rem;
          padding-right: calc(9% + 2px);
          background: transparent;
          resize: none;
          font-weight: normal;
          overflow-y: auto;
          max-height: 12em;

          &::-webkit-scrollbar {
            width: 8px;
          }

          &::-webkit-scrollbar-track {
            background: transparent;
          }
        }

        button {
          position: absolute;
          bottom: 0;
          right: 0;
          border: none;
          outline: none;
          background: transparent;
          padding: .25rem;
          border-radius: .375rem;
          margin-right: 10px;
          margin-bottom: 5px;
          cursor: pointer;

          svg {
            width: 16px;
            height: 16px;
            color: rgba(142, 142, 160, 1);
          }
        }

      }

    }

    .text {
      padding-top: 0.75rem;
      padding-bottom: 1.5rem;
      padding-left: 8rem;
      padding-right: 8rem;
      font-size: .75rem;
      color: rgba(0, 0, 0, .5);
      line-height: 1rem;

      a {
        font-size: .75rem;
      }

      @media screen and (max-width:1300px) {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }
}