@import '../../index.scss';

.New {
    padding-top: 7em;

    .title {
        font-size: 2.25rem;
        font-weight: 600;
        margin-bottom: 2em;
    }

    .grid {
        display: grid;
        grid-template-columns: 33.333333333% 33.333333333% 33.333333333%;
        gap: .875rem;

        @media screen and (max-width:767px) {
            grid-template-columns: 100%;
        }

        svg {
            width: 24px;
            height: 24px;
        }
    }

    .card {
        margin-bottom: 1em;

        h4 {
            font-weight: 400;
            font-size: 1.125rem;
            line-height: 1.75rem;
        }
    }

    .card-bg-light {
        background: rgba(247, 247, 248, 1);
        border-radius: .375rem;
        padding: .75rem;

        p {
            font-size: 14px;
        }

        &:is(.hover):hover {
            background: rgba(236,236,241,1);
            cursor: pointer;
        }
    }

    .card-bg-dark {
        background: hsla(0, 0%, 100%, .05);
        border-radius: .375rem;
        padding: .75rem;

        p {
            font-size: 14px;
        }

        &:is(.hover):hover {
            background: rgba(32,33,35,1);
            cursor: pointer;
        }
    }

}